package ${basePackage}.dao;

import javax.persistence.EntityManager;
import javax.persistence.PersistenceContext;

import org.springframework.stereotype.Repository;

import com.gea.web.model.exception.${ExceptionClass};
 
 /**
 * @author mchavarria
 *
 */
@Repository
public abstract class AbstractDAO {
 
	@PersistenceContext(name="persistenceUnit")
	protected EntityManager entityManager;

 
    protected void save(Object entity) throws ${ExceptionClass} {
    	try {
			this.entityManager.persist(entity);
		} catch (Exception e) {
			new ${ExceptionClass}("Error al ejecutar el método save del DAO", e);
		}
    }
 
    protected void delete(Object entity) throws ${ExceptionClass} {
    	try {
        	this.entityManager.remove(this.entityManager.contains(entity) ? entity : this.entityManager.merge(entity));
		} catch (Exception e) {
			new ${ExceptionClass}("Error al ejecutar el método delete del DAO", e);
		}
    }
    
    protected void update(Object entity) throws ${ExceptionClass} {
    	try {
    		this.entityManager.merge(entity);
		} catch (Exception e) {
			new ${ExceptionClass}("Error al ejecutar el método update del DAO", e);
		}    	
    }
}