	<definition name="${entityName}List" extends=".layout">
		<put-attribute name="title" value="${d}{app.name}"/>
		<put-attribute name="content" value="/WEB-INF/jsp/${entityName}List.jsp"/>
	</definition>

	<definition name="${entityName}Detail" extends=".layout">
		<put-attribute name="title" value="${d}{app.name}"/>
		<put-attribute name="content" value="/WEB-INF/jsp/${entityName}Form.jsp"/>
	</definition>	
	